* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-size: 1rem;
  background: #541ac8;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: system-ui;
}
#svg-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.line {
  stroke-width: 2px;
  stroke-dasharray: 5, 5;
  stroke: #fff;
  z-index: 10;
}

.avatar {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  position: absolute;
  z-index: 10;

  inset: var(--pos-y) 0 0 var(--pos-x);
  isolation: isolate;
}
.avatar .avatar__profile {
  border: 4px solid #fff;
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}
.avatar__data {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  z-index: -1;
  background: #ffffff;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.avatar__data.left {
  right: 0;
  left: auto;
}
.avatar__data > * {
  width: 100px;
  margin-left: auto;
}
/* slide out to left */
.avatar__data.left > * {
  margin-right: auto;
  margin-left: 0;
}

.avatar:hover .avatar__data {
  width: 220%;
  opacity: 1;
}

.avatar__data h2 {
  font-weight: medium;
  font-size: 1rem;
  white-space: nowrap;
}
.avatar__data .social {
  display: flex;
  gap: 0.25rem;
}

.avatar__data .social img {
  width: 24px;
  aspect-ratio: 1;
  transition: scale 150ms ease-out;
}
.avatar__data .social img:hover {
  scale: 1.1;
}
